*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppings', sans-serif;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #ffb15e, #fadd08);
    padding: 10px;

}
 
.todo-app{
    width: 100%;
    max-width: 500px;
    background-color: aliceblue;
    padding: 40px 30px 40px;

    border-radius: 16px ;
    border: #f3db27 solid  3px;
}

.todo-app h2{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}

.todo-app h2 img{
    width: 40px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e3e3e3;
    border-radius: 10px;
    margin-bottom: 25px;
    padding-left: 20px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 20px 10px;
    font-size: 16px;
    font-weight: 300;
    color: rgb(108, 108, 108);
}

button {
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 10px;
    background-color: #f4c14a;
    cursor: pointer;
    
}

button:hover{
     background-color: #fff1d1;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 9px 12px 50px;
    user-select: none;
    cursor: pointer; 
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 7px;
    left: 8px;
}

ul li.checked{
    color: #c7c7c7;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: rgb(255, 255, 255);
    background-color: red;
    line-height: 34px;
    border-radius: 8px;
    border: rgb(255, 139, 139) 3px solid;
    text-align: center;
}

ul li span:hover{
    background-color: rgb(191, 29, 29);
}


button.delete-task-btn{
    margin-top: 40px;
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(205, 36, 21);
    color: #e3e3e3;
}

button.delete-task-btn i{
    margin-left: 10px ;
}

